
<br><br>

<div class="cards">

<div class="form">
	
	<div class="input-group">
		<label>
			Type : <input type="text"  class="form-control" ng-model="type">
		</label>
	</div>
	<div class="input-group">
		<label>
			Sexe : <input type="text"  class="form-control" ng-model="sexe">
		</label>
	</div>
	<div class="input-group">
		<label>
			Nom : <input type="text"  class="form-control" ng-model="nom">
		</label>
	</div>
	<div class="input-group">
	
	
		<label>
			Prénom : <input type="text"  class="form-control" ng-model="prenom">
		</label>
	</div>
		<div class="input-group">
		<label>
			Adresse : <input type="text"  class="form-control" ng-model="adresse">
		</label>
	</div>
		<div class="input-group">
		<label>
			Code postal : <input type="text"  class="form-control" ng-model="codePostal">
		</label>
	</div>
		<div class="input-group">
		<label>
			Ville : <input type="text"  class="form-control" ng-model="ville">
		</label>
	</div>
	
		<div class="input-group">
		<label>
			Pays: <input type="text"  class="form-control" ng-model="pays">
		</label>
	</div>
	
		<div class="input-group">
		<label>
			Mobile : <input type="text"  class="form-control" ng-model="mobile">
		</label>
	</div>
		<div class="input-group">
		<label>
			Telephone : <input type="text"  class="form-control" ng-model="telephone">
		</label>
	</div>
	
		<div class="input-group">
		<label>
			Email Perso : <input type="email"  class="form-control" ng-model="emailPerso">
		</label>
	</div>

	<div class="input-group">
		<label>
			Email UBO: <input type="email"  class="form-control" ng-model="emailUbo">
		</label>
	</div>
		<button ng-click="saveEns()" class="btn btn-error btn-lg" >Valider</button>
		
</div>	

</div>
</div>