<br>
<br>
<div>
<h4>Détail de l'enseignant : {{detailEnseignant.nom}} {{detailEnseignant.prenom}}</h4>
<br>
<table class="table">

<tr>
		<th>Type</th>
    	<td> {{ detailEnseignant.type}} </td>

</tr>
<tr> 
         <th>Sexe</th>
         <td> {{ detailEnseignant.sexe }} </td>
</tr>

<tr>
		<th>Nom</th>
		<td> {{ detailEnseignant.nom }} </td>
</tr>


<tr>
		<th>Prénom</th>
		<td> {{ detailEnseignant.prenom }} </td>
</tr>

<tr>
		
		<th>Adresse  </th>
		<td> {{ detailEnseignant.adresse }} </td>
</tr>	
	
<tr>
		<th>Ville</th>
		<td> {{ detailEnseignant.ville }} </td>		
</tr>
	
<tr>
		<th>Pays</th>
		<td> {{ detailEnseignant.pays }} </td>
</tr>
	
<tr>
		<th>Mobile</th>
		<td> {{ detailEnseignant.mobile }} </td>	
</tr>	
	
<tr>
		<th>Telephone</th>
		<td> {{ detailEnseignant.telephone }} </td>	
</tr>
	
<tr>
		<th>Email Perso</th>
		<td> {{ detailEnseignant.emailPerso }} </td>
</tr>	
<tr>
		<th>Email UBO</th>
		<td> {{ detailEnseignant.emailUbo }} </td>
</tr>
	

</table>

</div>