<br>
<div>
<h4>Détail de la Formation {{detailFormation.nomFormation}}</h4>
<br>
<br>
<table class="table">

	<tr>
		<th>Code Formation</th>
			
	
		<td> {{detailFormation.codeFormation}} </td>
					
	</tr>
	
	<tr>
		<th>Debut Accreditation</th>
			
	
		<td> {{ detailFormation.debutAccreditation}} </td>
					
	</tr>
	
	<tr>
		<th>Diplome</th>
			
	
		<td> {{ detailFormation.diplome}} </td>
					
	</tr>

<tr>
		<th>Double diplome</th>
			
	
		<td> {{ detailFormation.doubleDiplome}} </td>
					
	</tr>


<tr>
		<th>Fin Accreditation</th>
			
	
		<td> {{ detailFormation.finAccreditation}} </td>
					
	</tr>

<tr>
		<th>No Annee</th>
			
	
		<td> {{ detailFormation.n0Annee}} </td>
					
	</tr>

<tr>
		<th>Nom formation</th>
			
	
		<td> {{ detailFormation.nomFormation}} </td>
					
	</tr>

		

</table>

</div>