<div class="cards">
<div class="form">

	<div class="input-group">
		<label>
			No Enseignant <input type="text" class="form-control" ng-model="enseignant.noEnseignant" ng-disabled="enseignant.noEnseignant">
		</label>
	</div>
	<div class="input-group">
		<label>
			Type : <input type="text"  class="form-control" ng-model="enseignant.type">
		</label>
	</div>
	<div class="input-group">
		<label>
			sexe : <input type="text"  class="form-control" ng-model="enseignant.sexe">
		</label>
	</div>
	<div class="input-group">
		<label>
			Nom : <input type="text"  class="form-control" ng-model="enseignant.nom">
		</label>
	</div>
	<div class="input-group">
		<label>
			Prénom : <input type="text"  class="form-control" ng-model="enseignant.prenom">
		</label>
	</div>
		<div class="input-group">
		<label>
			Adresse : <input type="text"  class="form-control" ng-model="enseignant.adresse">
		</label>
	</div>
		<div class="input-group">
		<label>
			ville: <input type="text"  class="form-control" ng-model="enseignant.ville">
		</label>
	</div>
	<div class="input-group">
		<label>
			pays: <input type="text"  class="form-control" ng-model="enseignant.pays">
		</label>
	</div>
	<div class="input-group">
		<label>
			Mobile: <input type="text"  class="form-control" ng-model="enseignant.mobile">
		</label>
	</div>
	<div class="input-group">
		<label>
			telephone: <input type="text"  class="form-control" ng-model="enseignant.telephone">
		</label>
	</div>
	<div class="input-group">
		<label>
			Email Perso: <input type="email"  class="form-control" ng-model="enseignant.emailPerso">
		</label>
	</div>
	<div class="input-group">
		<label>
			Email UBO: <input type="email"  class="form-control" ng-model="enseignant.emailUbo">
		</label>
	</div>
	<div class="input-group">
		<button ng-click="updateE(enseignant)" >Enregistrer</button>
		
	</div>
	
</div>
</div>
