<div id="page-wrapper">
		 
		  <div class="header"> 
                        <h1 class="page-header">
                            Dashboard
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Dashboard</a></li>
					  <li class="active">Data</li>
					</ol> 
									
		</div>
            <div id="page-inner">

			<div class="dashboard-cards"> 
                <div class="row" ng-controller="formationController">
                    <div class="col-xs-12 col-sm-6 col-md-3">
					
						<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image red">
						<i class="material-icons dp48">import_export</i>
						</div>
						<div class="card-stacked red">
						<div class="card-content">
						<h3>{{nbFormations}}</h3> 
						</div>
						<div class="card-action">
						<strong>Formations</strong>
						</div>
						</div>
						</div>
	 
                    </div>
            
                    <div class="col-xs-12 col-sm-6 col-md-3">
					
					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image green">
						<i class="material-icons dp48">supervisor_account</i>
						</div>
						<div class="card-stacked green">
						<div class="card-content">
						<h3>{{nbEnseignants}}</h3> 
						</div>
						<div class="card-action">
						<strong>Enseignants</strong>
						</div>
						</div>
						</div> 
						 
                    </div>
                </div>
			   </div>
			   </div>
			  